---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Keine Einzeltäter: Filmreihe">
  <main>
    <section>
      <p class="large pre-title">Filmreihe</p>
      <h1><span>Keine Einzeltäter</span></h1>
      <ul class="toc large">
        <li><a href="#münchen"><dt>11. Juli 2024 →</dt><dd>Einzeltäter – München (Teil 1)</dd></a></li>
        <li><a href="#halle"><dt>8. Oktober 2024 →</dt><dd>Einzeltäter – Halle (Teil 2)</dd></a></li>
        <li><a href="#spuren"><dt>4. November 2024 →</dt><dd>Spuren – Die Opfer des NSU</dd></a></li>
        <li><a href="#hanau"><dt>19. Januar 2025 →</dt><dd>Einzeltäter – Hanau (Teil 3)</dd></a></li>
      </ul>
    </section>
    <section id="münchen">
      <p class="large pre-title">Filmvorführung</p>
      <h1><span>Einzeltäter – München (Teil 1)</span></h1>
      <ul class="details large">
        <li>11. Juli 2024, 20h30</li>
        <li>im ada-Hinterhof (Mertonstr. 30, Ffm)</li>
        <li>Eintritt auf Spendenbasis</li>
      </ul>
      <ul class="meta">
        <li>Dokumentarfilm, D 2023</li>
        <li>85 Minuten</li>
        <li>auf deutsch mit deutschen Untertiteln</li>
        <li>Buch und Regie: Julian Vogel</li>
      </ul>
      <p>
      Am 22. Juli 2016, dem Jahrestag der rechtsterroristischen Anschläge in Olso und Utøya, bei denen 77 Menschen ermordet wurden, erschießt ein junger Mann am Olympia-Einkaufs­zentrum in München neun Menschen mit Migrationshintergrund und danach sich selbst. Trotz offensichtlicher Hinweise auf das rassistische Motiv des Täters wurde die Tat von den Ermittlungsbehörden als Amoklauf eingestuft und nicht als politisch motivierte Gewaltkriminalität anerkannt.
      </p>
      <p>
Arbnor Segashi hat bei dem Anschlag seine kleine Schwester verloren, Sibel und Hasan Leyla ihren Sohn. Während Arbnor versucht, seine traumatisierten Eltern zu unterstützen und das finanzielle Überleben der Familie zu sichern, kämpft Familie Leyla darum, dass die Tat als rechter Terror anerkannt wird. Erfolg haben sie erst, nachdem die rechtsextremen Anschläge von Halle und Hanau die Bundesrepublik erschüttern.
      </p>
    </section>
    <section id="halle">
      <p class="large pre-title">Filmvorführung</p>
      <h1><span>Einzeltäter – Halle (Teil 2)</span></h1>
      <ul class="large details">
        <li>8. Oktober 2024</li>
        <li>Infos zu Ort und Uhrzeit folgen</li>
      </ul>
      <ul class="meta">
        <li>Dokumentarfilm, D 2023</li>
        <li>67 Minuten</li>
        <li>auf deutsch mit deutschen Untertiteln</li>
        <li>Buch und Regie: Julian Vogel</li>
      </ul>
      <p>
        An Jom Kippur, dem höchsten jüdischen Feiertag, versucht ein Rechtsextremist in die Synagoge von Halle einzudringen, um ein Blutbad anzurichten. Als ihm dies nicht gelingt, ermordet er zwei Menschen außerhalb der Synagoge. Einer davon ist Kevin. Während dem Täter 2020 der Prozess gemacht wird, versucht Kevins Vater Karsten seine Trauer zu bewältigen. Mit den politischen Kämpfen, die andere in Folge des Anschlags führen, hat er nichts zu tun. Er findet Halt in der Fanszene des Halleschen FC, einem ostdeutschen Traditionsverein, der auch Kevins Heimat war. 
      </p>
    </section>
    <section id="spuren">
      <p class="large pre-title">Filmvorführung</p>
      <h1><span>Spuren – Die Opfer des NSU</span></h1>
      <ul class="large details">
        <li>4. November 2024</li>
        <li>Infos zu Ort und Uhrzeit folgen</li>
      </ul>
      <ul class="meta">
        <li>Dokumentarfilm, D 2019<br></li>
        <li>81 Minuten<br></li>
        <li>auf deutsch und türkisch mit deutschen Untertiteln<br></li>
        <li>Buch und Regie: Aysun Bademsoy</li>
      </ul>
      <p>
      Zwischen September 2000 und April 2007 wurden acht Männer mit türkischen Wurzeln, ein griechischstämmiger Mann sowie eine deutsche Polizistin ermordet. Die Ermittlungen wurden zunächst ausschließlich im Umfeld der nicht-deutschen Opfer mit Verdacht auf Drogenhandel und organisierte Kriminalität geführt. Die Familien der Ermordeten wurden so ein weiteres Mal zu Opfern, diesmal von vorurteilsvoller Stigmatisierung. Nach einem gescheiterten Bankraub führte die Spur schließlich zu der rechtsextremen Terrorgruppe „Nationalsozialistischer Untergrund“ (NSU).
      </p>
      <p>
      Nach dem Suizid der beiden Haupttäter begann 2013 der Prozess gegen die einzige Überlebende des NSU-Trios sowie vier mutmaßliche Helfer und Unterstützer und endete 2018. Die zu milden Strafen für die Mitangeklagten und die zahlreichen ungeklärten Fragen ließen die Angehörigen der Opfer enttäuscht und desillusioniert zurück. Ihr Glaube an den Rechtsstaat ist grundlegend erschüttert.
      </p>
    </section>
    <section id="hanau">
      <p class="large pre-title">Filmvorführung</p>
      <h1><span>Einzeltäter – Hanau (Teil 3)</span></h1>
      <ul class="large details">
        <li>19. Januar 2025</li>
        <li>Infos zu Ort und Uhrzeit folgen</li>
      </ul>
      <ul class="meta">
        <li>Dokumentarfilm, D 2024</li>
        <li>85 Minuten</li>
        <li>auf deutsch mit deutschen Untertiteln</li>
        <li>Buch und Regie: Julian Vogel</li>
      </ul>
      <p>
        Der rassistische Anschlag vom 19. Februar 2020 hat Hanau-Kesselstadt verändert. Hier leben Menschen verschiedener Herkunft, hier starben sechs der neun Opfer, hier wohnen der Vater des Täters und Hinterbliebene der Opfer in unmittelbarer Nachbarschaft. 
      </p>
      <p>
        Nach dem Anschlag halten Hinterbliebene, Eltern, Geschwister und Freunde der Opfer zusammen und versuchen gemeinsam mit den Folgen der Tat umzugehen. Sie organisieren sich politisch, kämpfen um die Aufklärung der Tat und gegen Rassismus. Und sie fordern Konsequenzen bei Behörden, von denen sie sich im Stich gelassen fühlen. So entsteht ein neues <q>Wir</q>-Gefühl bei den Menschen aus Hanau-Kesselstadt, die weiterhin in unmittelbarer Nachbarschaft mit dem Vater des Täters leben.
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    margin-top: 1rem;
  }
  section:not(:first-child) {
    padding-top: 4rem;
  }
  .details, .toc {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 2rem 0;
    line-height: 1.5;
  }
  .toc li {
    margin: 1rem 0;
  }
  .toc dd {
    font-weight: 700;
    margin: 0;
  }
  .large {
    font-size: 1.4rem;
    @media only screen and (min-width: 600px) {
      font-size: 1.6rem;
    }
  }
  .pre-title {
    margin: 0;
  }
  .meta {
    border: 0.1rem solid var(--accent);
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 2rem 0;
    list-style: none;
    @media only screen and (min-width: 600px) {
      display: grid;
      gap: 0 1rem;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
    }
  }
  h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: var(--accent);
    @media only screen and (min-width: 600px) {
      font-size: 3rem;
    }
  }
  h1 span {
    background-image: linear-gradient(to bottom, #429792, #429792);
    background-position: 0 1.15em;
    background-repeat: repeat-x;
    background-size: 1px 0.15em;
  }
</style>
