---
---

<footer>
  <div class="logos">
    <img alt="Kein Schlussstrich Hessen" src="/img/kein_schlussstrich_hessen.png">
    <img alt="ada_kantine" src="/img/ada.png">
    <img alt="Filmforum Höchst" src="/img/filmforum_hoechst.jpg">
    <img alt="Stiftung Citoyen" src="/img/citoyen.png">
  </div>
  <div class="links">
    <a href="mailto:kein_schlussstrich_hessen@systemli.org">E-Mail</a>
    <a href="https://www.instagram.com/kein_schlussstr_hessen/">Instagram</a>
    <a href="/impressum">Impressum und Datenschutz</a>
  </div>
</footer>

<style>
  footer {
    margin: 5rem 0 3rem 0;
  }
  .logos {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    justify-content: space-around;
  }
  .logos img {
    max-height: 9rem;
    max-width: 15rem;
    object-fit: contain;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  .links a {
    text-align: center;
  }
</style>
