---
---


<footer>
  <div class="logos">
    <img alt="Kein Schlussstrich Hessen" src="/img/kein_schlussstrich_hessen.png">
    <img alt="ada_kantine" src="/img/ada.png">
    <img alt="Stiftung Citoyen" src="/img/citoyen.png">
  </div>
  <p class="links">
    <a href="/impressum">Impressum und Datenschutz</a>
  </p>
</footer>

<style>
  footer {
    margin: 7rem 0 5rem 0;
  }
  .logos {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
  .logos img {
    margin-top: 2rem;
    max-height: 160px;
    max-width: 280px;
    object-fit: contain;
  }
  .links {
    text-align: center;
  }
</style>
