---
---

<div id="homeButton">
  <a href="#"><img src="/img/home.svg" alt="Nach oben"/></a>
</div>

<style>
  #homeButton {
    position: sticky;
    max-height: 0;
    top: 1rem;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    justify-content: end;
  }
  #homeButton a {
  }
  #homeButton img {
    width: 3rem;
    height: 3rem;
    background-color: var(--accent);
    border-radius: 50%;
  }
</style>

<script>
  const visible = () => {
    const home = document.getElementById("homeButton")!
    var top = document.body.scrollTop + document.documentElement.scrollTop < 100
    home.style.opacity = top ? '0' : '1'
  }
  window.onscroll = visible
  visible()
</script>
